

<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {%- comment -%}
    <a class="sidebar-nav-item{%- if page.url == site.baseurl %} active{%- endif -%}" href="{{ site.baseurl }}/">Home</a>
    {%- endcomment -%}

    {%- comment -%}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {%- endcomment -%}

    {%- assign sidebar_pages = site.pages | where_exp:"p","p.sidebar_order != 0" | sort:"sidebar_order"-%}
    {% for p in sidebar_pages -%}
      <a class="sidebar-nav-item{%- if page.url == p.url %} active{%- endif -%}" href="{{ p.url | relative_url }}">{{ p.title }}</a>
    {% endfor -%}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
