@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.current {
  color: gray !important; /* did not have high precedance, fixed with !important */
}

nav {
  text-align: center; /* center navbar items */
}

a:visited {
 color: purple;
}

body {
  font-family:  "Inter", -apple-system, "avenir next", avenir, roboto, noto, ubuntu, "helvetica neue", helvetica, sans-serif;
  font-size: 1.0rem;
  line-height: 2;
  margin: 0;
  min-height: 100%;
  padding: 0 8px 0 8px; /* Padding for small screens (ie. phones) */
  max-width: 1000px; /* Don't make text insanely long on large screens */
}
p {
  margin: 35px;
}

figure {
    display: inline-table;
    border: 1px dotted gray;
}
figure img {
    vertical-align: top;
    align: center; 
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}

.panel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
}

.panel-image > img {
    margin: auto;
}

.scroll-anchor {
    padding-top: 66px;
    margin-top: -66px;
}

.header-image {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-height: 100%;
    z-index: 0;
}

.header-overlay {
    position: relative;
    z-index: 1;
}

.container-fluid {
    padding-left: 0px;
}

.invited-speaker.collapsed {
    background-color: #d1e7dd;
}

.invited-speaker:not(.collapsed) {
    background-color: #a3cfbb;
    color: #000000;
}

.invited-speaker:hover {
    background-color: #75b798;
}

.speaker.collapsed {
    background-color: #f8f9fa;
}

.speaker:not(.collapsed) {
    background-color: #e9ecef;
    color: #000000;
}

.speaker:hover {
    background-color: #dee2e6;
}


.activity.collapsed {
    background-color: #fff3cd;
}

.activity:not(.collapsed) {
    background-color: #ffe69c;
    color: #000000;
}

.activity:hover {
    background-color: #ffda6a;
}


.break.collapsed {
    background-color: #cfe2ff;
}

.break.accordion-button::after {
    opacity: 0;
}
